<div class="d-flex">
  <div class="left-container width-200">
    <app-data-list [hidden]="!leftVisiable" [datas]="leftData"></app-data-list>
  </div>

  <div class="flex-1">
    <div class="header-container d-flex justify-content-around">
      <div class="flex-1"></div>
      <div class="flex-1" (click)="settingVisiable = true">
        <h1 class="logo point">Do You Feel Lucky?</h1>
      </div>
      <div class="flex-1 d-flex justify-content-end"></div>
    </div>

    <div class="search-container d-flex justify-content-around">
      <div class="flex-1">
      </div>
      <div class="search-content">
        <div class="search-items d-flex justify-content-between">
          <div class="d-flex">
            <div *ngFor="let item of searchItems;let i = index"
                 [class.active]="searchItemIndex === i"
                 class="search-item point border border-radius-4"
                 (click)="searchItemChange(i)">
              {{ item.title }}
            </div>
          </div>
          <div>
            <nz-tag class="point" [nzColor]="leftVisiable ? 'warning' : 'default'"
                    (click)="toggleLeftVisiableBtn()">左
            </nz-tag>
            <nz-tag class="point" [nzColor]="rightVisiable ? 'warning' : 'default'"
                    (click)="toggleRightVisiableBtn()">右
            </nz-tag>
            <nz-tag class="point" [nzColor]="centerVisiable ? 'warning' : 'default'"
                    (click)="toggleCenterVisiableBtn()">中
            </nz-tag>
            <nz-tag class="point" [nzColor]="bottomBisiable ? 'warning' : 'default'"
                    (click)="toggleBottomVisiableBtn()">下
            </nz-tag>
            <!-- <nz-tag class="point" [nzColor]="collectionVisiable ? 'warning' : 'default'" (click)="goToCollectionPage()">收藏</nz-tag>-->
            <nz-tag class="point" [nzColor]="collectionVisiable ? 'warning' : 'default'"
                    (click)="collectionVisiable = true">
              收藏
            </nz-tag>
          </div>
        </div>
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input type="text" [(ngModel)]="searchValue" nz-input (keydown)="keyEvent($event)" [autofocus]="true"/>
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch (click)="toggleSearch()">Search</button>
        </ng-template>
      </div>
      <div class="flex-1"></div>
    </div>

    <div *ngIf="centerVisiable" class="content-container d-flex justify-content-center">
      <div class="data d-flex">
        <div class="flex-1">
          <app-data-list [datas]="firstTools"></app-data-list>
        </div>
        <div class="flex-1">
          <app-data-list [datas]="secondTools"></app-data-list>
        </div>
        <div class="flex-1">
          <app-data-list [datas]="thirdTools"></app-data-list>
        </div>
        <div class="flex-1">
          <app-data-list [datas]="fourthTools"></app-data-list>
        </div>
      </div>
    </div>

    <div class="bottom-container d-flex justify-content-center">
      <div class="data">
        <app-todo-list [hidden]="!bottomBisiable" [datas]="bottomData"></app-todo-list>
      </div>
    </div>

  </div>

  <div class="right-container width-200">
    <app-data-list [hidden]="!rightVisiable" [datas]="rightData"></app-data-list>
  </div>

</div>

<nz-drawer [nzVisible]="collectionVisiable" nzPlacement="top" nzTitle="收藏列表"
           [nzHeight]="height"
           (nzOnClose)="closeDrawer()">
  <app-collection-list [hidden]="!collectionVisiable"></app-collection-list>
</nz-drawer>
